name: Publish to PyPI
on:
    workflow_dispatch:
permissions:
    id-token: write
    contents: write
jobs:
    publish:
        uses: DCC-BS/ci-workflows/.github/workflows/pypi-publish.yml@v7
        with:
            python_version: "3.12"
            create_release_tag: true
