name: Publish to PyPI
on:
    workflow_dispatch:
jobs:
    publish:
        name: Publish to PyPI
        runs-on: ubuntu-latest
        permissions:
            id-token: write
            contents: write
        steps:
            - name: Publish package to PyPI
              uses: DCC-BS/ci-workflows/.github/workflows/pypi-publish.yml@v7
              with:
                  python_version: "3.12"
                  create_release_tag: true
