name: Publish to PyPI
on:
    workflow_dispatch:
jobs:
    publish:
        uses: DCC-BS/ci-workflows/.github/workflows/pypi-publish.yml@v7
        permissions:
            id-token: write
            contents: write
        with:
            python_version: "3.12"
            create_release_tag: true
